.scene {
  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(25, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: inherit;

    @media all and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(17, 1fr);
      grid-column-gap: 25px;
      grid-row-gap: 25px;
    }

    @media all and (min-width: 1100px) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(10, 1fr);
      grid-column-gap: 35px;
      grid-row-gap: 35px;
      align-items: center;
    }
  }

  &__section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }

  &__warning {
    color: #44d186;
    text-align: center;
    padding: 5px;
    letter-spacing: 1.5px;
    font-size: large;
    font-weight: 650;

    &__italics {
      color: #103521;
      font-style: italic;
    }
  }

  &__card {
    display: flex;
    border-radius: 5px;
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);

    padding: 10px;
    width: 150px;
    height: 390px;

    @media all and (min-width: 768px) {
      // margin: 0 15px;
    }

    &__link {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 150px;
    }

    &__img {
      max-width: 120px;
      border-radius: 5px ;
      margin-bottom: 20px;
    }

    &__title {
      padding: 5px;
      font-size: large;
      width: 160px;
      text-align: center;
      color: black;
      letter-spacing: 1.5px;
      border-radius: 5px;
    }

    &__text {
      display: flex;
      align-items: center;
      font-size: small;
      font-style: italic;
      text-align: center;
      padding: 5px;
      height: 100px;
      letter-spacing: 1.25px;
      color: black;
    }

    &__year {
      padding: 5px;

      font-size: medium;
      font-weight: 600;
      color: black;
      letter-spacing: 1.5px;
    }
  }
}
